name: Lint

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  super-linter:
    name: Super-linter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Super-linter
        uses: github/super-linter@v5
        env:
          VALIDATE_PYTHON: true
          DEFAULT_BRANCH: main
